 * { padding: 0; margin: 20; }
      canvas {
        background:black;
        display: block;
        margin: 0 auto;
      }
body {
  background-color: grey;
}
  h2{
    text-align: center;
    font-family: Advanced Pixel LCD-7;
  }
